.score {
  font-size: 2.5em;
  color: white;

  &-count {
    display: inline-block;
    width: 80px;
    text-align: center;
    animation: 0.1s linear; /* score-change */
    will-change: transform, contens;
  }
}

@keyframes score-change {
  100% {
    transform: translateY(-8px);
  }
}
