.score {
  display: flex;
  font-size: 2.5em;
  color: white;
}

.score-count {
  display: inline-block;
  width: 80px;
  text-align: center;
  animation: 0.1s;
  transition: linear 0.1s;
  will-change: transform;
}

.score-change-animate {
  animation-name: score-change;
}

@keyframes score-change {
  100% {
    transform: translateY(-8px);
  }
}
