.score {
  position: relative;
  z-index: 1; /* в магазе */
  width: 70px;
  font-size: 2.6em;
  color: white;
  line-height: 0.8;
  will-change: contents;

  &::before {
    font-size: 0.6em;
    content: '$';
  }
}
