.cat-position {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  /* opacity - появление/скрытие, transform - перемещение по полю */
  transition: opacity 0.4s, transform 0.4s;
  will-change: opacity, transform;
}

.cat-show {
  opacity: 1;
  pointer-events: auto;
}

.cat {
  animation: 0.8s both; /* cat-flip */
  backface-visibility: visible;
  will-change: transform;
}

@keyframes cat-flip {
  0% {
    transform: rotateY(720deg);
  }
}

.to-bad {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: red;
  font-size: 6em;
  background-color: rgba(73, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  animation: 1.4s; /* to-bad */
  will-change: opacity, transform;
}

@keyframes to-bad {
  40% {
    opacity: 1;
    transform: scale(1.4);
  }

  100% {
    transform: scale(4);
  }
}
