.cat-position {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s; /* opacity - появление/скрытие, transform - перемещение по полю */
  will-change: opacity, transform;
}

.cat-show {
  opacity: 1;
  z-index: 100; /* обеспечивает перекрытие, чтобы была возможность попасть в котика */
}

.cat {
  animation: 1.4s both; /* cat-flip */
  backface-visibility: visible;
  will-change: transform;
}

@keyframes cat-flip {
  50%,
  100% {
    transform: rotateY(1080deg);
  }
}

.cat-to-bad {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 8em;
  background-color: rgba(73, 0, 0, 0.7);
  opacity: 0;
  z-index: -3000;
  animation: 1.4s; /* cat-to-bad */
  will-change: opacity;
}

@keyframes cat-to-bad {
  0%,
  100% {
    z-index: 3000;
  }

  30%,
  70% {
    opacity: 1;
    font-size: 15em;
  }

  100% {
    font-size: 25em;
  }
}
