@import "./auth/auth.css";
@import "./guide/guide.css";
@import "./donate/donate.css";

.start {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  will-change: opacity;

  &-no-events {
    pointer-events: none !important;
  }

  &-open .best-score-wrap,
  &-open .new-game {
    opacity: 0;
  }

  & .best-score-wrap {
    display: flex;
    font-size: 2.8em;
    color: #fff;
    line-height: 1.2;
    text-shadow: 2px 2px 0 black;
    transition: opacity 0.4s;
    will-change: opacity;
  }

  & .best-score {
    display: flex;
    justify-content: center;
    width: 60px;
  }

  & .new-game {
    position: relative;
    z-index: 1;
    font-size: 5em;
    color: #ff0;
    line-height: 0.6;
    text-shadow: 2px 2px 0 black;
    cursor: pointer;
    transition: opacity 0.4s;
    animation: 0.2s; /* new-game */
    will-change: opacity, transform;

    &:hover {
      color: #00fe23;
    }
  }
}

@keyframes new-game {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.browser-like {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  color: #4171d9;
  line-height: 2.5;
  letter-spacing: -1px;
  text-transform: uppercase;

  & .icon-chromium {
    margin-left: 2px;
    animation: browser-like-rotate 1s linear infinite both;
    will-change: transform;
  }

  &:hover .icon-chromium {
    animation-duration: 0.4s;
  }

  & .name {
    color: #a3c3fa;
  }
}

@keyframes browser-like-rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.creators {
  position: absolute;
  z-index: 2; /* перекрыть логин форму */
  bottom: 0;
  left: 4px;
  font-size: 1.6em;
  color: #fff;
  text-shadow: 0 3px 2px #000, 0 -3px 2px #000;
}

.creator-email {
  cursor: text;
  user-select: text;
}
