.shoot {
  position: absolute;
  z-index: 3;
  top: -16.5px; /* моделька огонька по центру */
  left: -16.5px;
  pointer-events: none;
  opacity: 0;
  will-change: opacity, transform; /* выстрел */
}
