@import 'health/health.css';
@import 'score/score.css';
@import 'ticker/ticker.css';
@import 'grenade/grenade.css';
@import 'revolver/revolver.css';

.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2px;
  width: 100%;
  text-shadow: 2px 2px 0 black;
  transition: 1.5s opacity;
  pointer-events: none;
  opacity: 0;
}

.panel__show {
  opacity: 1;
}

.panel__gun {
  display: flex;
}

.panel__weapon,
.panel__ammo {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
