@import '../health/health.css';
@import '../score/score.css';
@import '../ticker/ticker.css';
@import '../enemy_count/enemy_count.css';
@import '../grenade/grenade.css';
@import "../revolver/icon_revolver.css";
@import '../revolver/revolver.css';

.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2px;
  width: 100%;
  text-shadow: 2px 2px 0 black;
  opacity: 0;
  transition: 1.5s opacity;
  pointer-events: none;

  &-show {
    opacity: 1;
  }

  & .gun {
    display: flex;
  }

  & .weapon,
  & .ammo {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
