@import "auth_book";

.auth {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  background-color: rgba(2, 64, 0, 0.6);

  .email,
  .password {
    z-index: 50;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    color: #f9f9f9;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 0 12px #000;
    transition: border-color 0.4s;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ccc;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #ccc;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #ccc;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #ccc;
    }

    &:valid {
      border-color: #00ae00;
    }

    &:invalid {
      border-color: #e20000;
    }
  }

  .submit {
    z-index: 50;
    width: 100%;
    padding: 6px 0;
    color: #59e942;
    font-size: 3em;
    text-shadow: 0 0 4px #000;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation: auth-submit-default 0.6s linear infinite alternate both; /* auth-submit-after */
  }
}

@keyframes auth-submit-default {
  100% {
    color: #ffff00;
  }
}

@keyframes auth-submit-waited {
  50% {
    transform: scale(0.95);
  }
}

@keyframes auth-submit-error {
  0% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.auth-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;

  .user-name {
    font-size: 3.4em;
    color: #60ff4b;
    text-shadow: 0 0 10px #000;
  }

  .logout {
    margin-left: 10px;
    display: none;
    cursor: pointer;
  }
}

.auth-opener {
  display: none;
  z-index: 50;
  color: #51d83f;
  line-height: 0.5;
  text-shadow: 0 0 10px #000;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: #60ff4a;
  }

  .cogwheel {
    display: flex;
    transition: transform 0.5s;
    transform-origin: center 27px;
    will-change: transform;
  }

  .letter-o {
    font-size: 5em;
    letter-spacing: 2px;
  }

  .letter-cl {
    font-size: 4.7em;
    letter-spacing: -5px;
    transform: rotate(180deg) translateY(-7px);
  }

  .letter-e {
    font-size: 4.5em;
    transition: transform 0.5s;
    will-change: transform;
  }

  .letter-s {
    font-size: 5.6em;
    transform: rotate(70deg) translate(4px, -6px);
    transition: transform 0.5s;
    will-change: transform;
  }

  &.auth-opener-on {
    .cogwheel-1 {
      transform: rotate(180deg);
    }

    .cogwheel-2 {
      transform: rotate(-180deg);
    }

    .letter-e {
      transform: rotate(180deg) translate(-4px, -4px);
    }

    .letter-s {
      transform: rotate(180deg) translate(0, -14px);
    }
  }

}

.auth-loader {
  position: relative;
  width: 50px;
  height: 50px;
  border: 25px solid rgba(96, 255, 74, 0.4);
  border-left: 25px solid rgba(12, 32, 9, 0.8);
  border-right: 25px solid rgba(12, 32, 9, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 20px #000;
  animation: auth-loader 2s linear infinite;
  will-change: transform;

  &::before,
  &::after {
    position: absolute;
    color: #41a72f;
    font-size: 2.4em;
    content: '*';
  }

  &::before {
    top: -8px;
    right: 2px;
  }

  &::after {
    top: -8px;
    left: 3px;
  }
}

@keyframes auth-loader {
  0% {
    transform: scale(0.7) rotate(0deg);
  }

  50% {
    transform: scale(1) rotate(180deg);
  }

  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.auth-wrap {
  position: absolute;
  transform: rotateY(90deg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s, transform 0.4s, background-color 0.4s;
  will-change: transform, opacity;

  &-show {
    z-index: 45;
    transform: rotateY(0deg);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.auth-error {
  color: red;
  font-size: 3em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}
