.shop-time {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 6em;
  text-shadow: 2px 2px 0 black;
  pointer-events: none;
  animation: 1.5s both; /* shop-time */
  will-change: opacity, transform;
}

@keyframes shop-time {
  0%,
  20% {
    opacity: 0;
    transform: scale(2.6);
  }

  20%,
  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

.boss-time-text {
  color: red;
}
