.revolver {
  display: flex;
  align-items: flex-end;

  .reload {
    font-size: 2em;
    color: white;
    z-index: 2000;
  }

  .drum {
    position: relative;
    transition: transform 0.2s; /* поворот при выстреле */
    animation: 0.6s both ease-out; /* поворот для перезарядки */
    will-change: transform;
  }

  .drum-rotate {
    animation-name: drum-rotate;
  }

  .hole {
    position: absolute;
    transition: 0.15s;
    will-change: opacity;
  }

  .hole1 {
    transform: translate(31px, 5px);
  }

  .hole2 {
    transform: translate(55px, 18px);
  }

  .hole3 {
    transform: translate(55px, 46px);
  }

  .hole4 {
    transform: translate(32px, 59px);
  }

  .hole5 {
    transform: translate(7px, 46px);
  }

  .hole6 {
    transform: translate(7px, 18px);
  }
}

@keyframes drum-rotate {
  100% {
    transform: rotate(360deg);
  }
}
