.next-wave-time {
  width: 56px;
  height: 72px;
  color: white;
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 0 0 #fff;
  will-change: contents, text-shadow;
  animation: 1s infinite; /* pulsar */
}

@keyframes pulsar {
  80% {
    text-shadow: 0 0 100px #fff;
  }
}
