.next-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  transition: transform 1s ease-in;
  transform-style: preserve-3d;

  .edge {
    position: absolute;
    width: 1em;
    height: 1em;
    color: black;
    font-size: 3em;
    text-align: center;
    background-color: white;
    box-shadow: inset 0 0 20px #3b3b3b;
  }

  .edge-front {
    line-height: 0.9;
    transform: translateZ(0.5em);
  }

  .edge-top {
    line-height: 0.8;
    transform-origin: top;
    transform: rotateX(-90deg) translateY(-0.5em);
  }

  .edge-back {
    line-height: 0.9;
    transform: translateZ(-0.5em);
  }

  .edge-bottom {
    line-height: 0.6;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(0.5em);
  }
}
