.next-wave-time {
  width: 56px;
  height: 72px;
  color: white;
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  backface-visibility: visible;
  animation: 1s infinite; /* pulsar */
  will-change: contents, text-shadow, transform;
}

@keyframes pulsar {
  20% {
    text-shadow: 0 0 100px #fff;
  }

  80%,
  100% {
    transform: rotateY(360deg);
  }

  100% {
    text-shadow: 0 0 0 #fff;
  }
}
