.notify {
  position: absolute;
  right: 4px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  & .note {
    margin: 4px 0;
    padding: 6px 0;
    width: 200px;
    border-radius: 4px;
    font-size: 1.6em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: note-show 0.2s both;
    transition: transform 0.4s;
    will-change: opacity, transform;
  }

  & .hide {
    transform: translateX(100%);
  }

  & .info {
    color: #51d83f;
  }

  & .warn {
    color: #ff0;
  }

  & .error {
    color: red;
  }
}

@keyframes note-show {
  100% {
    opacity: 1;
  }
}
