.notify {
  position: absolute;
  z-index: 3;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notify__note {
  margin: 4px 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 6px 0 6px 8px;
  width: 200px;
  font-size: 1.6em;
  transition: transform 0.4s;
  transform-origin: right;
  animation: notify-note-show 0.4s both;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  will-change: opacity, transform;
}

.notify__info {
  color: #51d83f;
}

.notify__warn {
  color: #ff0;
}

.notify__error {
  color: red;
}

.notify__hide {
  transform: rotateX(40deg) rotateY(90deg);
}

@keyframes notify-note-show {
  100% {
    opacity: 1;
  }
}
