@import './grenade_notice.css';

.grenade {
  position: relative;
  z-index: 1; /* в магазе */
  display: flex;
  flex-direction: column-reverse;
  transition: opacity 0.6s;
  opacity: 0; /* после начала игры замещает револьвер */
  will-change: opacity;
}

/* при смене иконки перезаписывается класс */
.grenade div {
  margin-top: -16px;
  animation: 0.6s alternate; /* grenade-blink */
  will-change: transform;
}

/* покупка грены */
@keyframes grenade-blink {
  0% {
    transform: scale(1.3);
  }
}
