@import '../grenade_notice/grenade_notice.css';

.grenade {
  position: relative;
  z-index: 1; /* в магазе */
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.6s; /* после начала игры замещает револьвер */
  will-change: opacity;

  &-count {
    margin-left: -26px;
    width: 30px;
    color: white;
    font-size: 2em;
    will-change: contents;
  }
}
