.guide-help {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  width: 46px;
  border: 5px double #bfff40;
  border-radius: 50%;
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  box-shadow: 0 0 6px black;
  cursor: pointer;
  transition: opacity 0.2s;
  will-change: opacity;

  &:hover {
    background-color: rgba(4, 130, 0, 0.6);
  }
}

/* при открытии формы логина */
.start-screen-open .guide-help {
  opacity: 0;
}

.guide-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  border-top: 4px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  will-change: opacity;

  &-show {
    opacity: 1;
  }
}

.guide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.guide-keys {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 96px;
}

.guide-key {
  position: relative;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  color: #000;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #fff;
}

.guide-key-1::after {
  position: absolute;
  top: -20px;
  left: -17px;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  content: 'ВЫБОР ОРУЖИЯ';
}

.guide-key-9::after {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -12px;
  width: 17px;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  content: '';
}

.guide-key-g::after {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: #fff;
  font-size: 0.8em;
  content: 'ГРАНАТА';
}

.guide-key-h::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #fff;
  font-size: 0.8em;
  content: 'АПТЕЧКА';
}

.guide-mouse {
  position: relative;

  & .button {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
  }

  & .button-1 {
    top: -6px;
    left: 29px;
    text-align: center;
  }

  & .button-2 {
    top: 47px;
    left: -30px;
    text-align: right;
  }

  & .button-3 {
    top: 48px;
    right: -32px;
  }

  & .button-4 {
    bottom: -4px;
    left: 15px;
    text-align: center;
  }

  & .action {
    color: red;
    font-size: 0.9em;
  }

  & .reaction {
    margin-top: 2px;
    color: white;
  }
}

.svg-guide_mouse-dims {
  width: 100px;
  fill: white;
}
