.guide-help {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  width: 58px;
  border: 5px double #bfff40;
  border-radius: 50%;
  color: #fff;
  font-size: 3em;
  text-shadow: 0 0 4px black;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
  will-change: opacity;

  &:hover,
  &:active {
    background-color: rgba(4, 130, 0, 0.6);
  }
}

.start-screen-shading .guide-help {
  opacity: 0;
}

.guide-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 4px solid rgba(4, 130, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  will-change: opacity;

  &-show {
    opacity: 1;
  }

  .guide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
  }
}
