.boss-coming {
  position: absolute;
  z-index: 1; /* в магазе */
  top: 12px;
  left: 0;
  border-top-right-radius: 16px;
  width: 200px;
  height: 10px;
  transition: opacity 1.5s;
  pointer-events: none;
  opacity: 0; /* появится по началу игры */
  background: linear-gradient(rgb(6, 17, 0), rgb(21, 71, 0));
  box-shadow: 0 0 6px #32a500;
  will-change: opacity;
}

.boss-coming__show {
  pointer-events: auto;
  opacity: 1;
}

.boss-coming__progress {
  position: absolute;
  border-top-right-radius: 16px;
  width: 200px;
  height: 10px;
  transition: transform 0.6s; /* движение по X */
  transform: translateX(-100%);
  background: linear-gradient(rgb(76, 255, 0), rgb(0, 88, 12));
  will-change: transform;
}

.boss-coming__progress::before {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  border-bottom-right-radius: 6px;
  width: 100%;
  height: 4px;
  content: '';
  background: linear-gradient(rgb(0, 81, 11), rgb(41, 140, 0));
}

.boss-coming__head {
  position: absolute;
  top: -10px;
  right: -32px;
  animation: ease-in-out boss-coming-head-twitch alternate infinite;
  will-change: transform;
}

@keyframes boss-coming-head-twitch {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: rotate(15deg);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-15deg);
  }
}
