.auth-help {
  position: absolute;
  z-index: 10;
  margin-top: 15px;
  font-size: 3em;
  color: #ffeb3b;
  opacity: 1;
  text-shadow: 0 0 8px #000;
  cursor: pointer;
  transition: color 0.5s;
  will-change: opacity;

  &:hover,
  &:active {
    color: #4cc938;
  }

  &:focus {
    opacity: 0;
  }

  &:focus ~ .auth {
    opacity: 1;
    z-index: 10;
  }

  @media (min-height: 500px) {
    opacity: 0;
  }
}

.auth {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  opacity: 0;
  background-color: rgba(4, 130, 0, 0.4);
  border-bottom: 4px solid rgba(12, 41, 0, 0.6);
  transition: opacity 0.5s;
  will-change: opacity;

  &:focus {
    opacity: 1;
    z-index: 10;
  }

  @media (min-height: 500px) {
    opacity: 1;
  }

  .login,
  .password {
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 0 8px #000;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: white;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }

  .submit {
    color: #ffeb3b;
    font-size: 3em;
    text-shadow: 0 0 8px #000;
    cursor: pointer;
  }
}
