.guide-help {
  position: relative;
  z-index: 10;
  margin: 40px auto 0;
  padding: 0 18px;
  font-size: 4em;
  color: #d6d6d6;
  border: 5px double #a3da37;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
  will-change: opacity;

  &:hover,
  &:active {
    color: #fff;
    background-color: rgba(4, 130, 0, 0.6);
  }

  &:focus {
    opacity: 0;
    z-index: -10;
  }

  &:focus ~ .guide-wrap {
    opacity: 1;
  }
}

.guide-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  opacity: 0;
  border-top: 4px solid rgba(4, 130, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.4s;
  will-change: opacity;
  pointer-events: none;

  .guide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
  }
}
