@import "./auth";
@import "./guide";

.start-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .best-score-frame {
    margin-top: 10px;
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 4px #000000;
    text-align: center;
    transition: opacity 0.4s;
    will-change: opacity;
  }

  .new-game {
    font-size: 6em;
    color: #e3e300;
    text-shadow: 0 0 12px #4f1100;
    cursor: pointer;
    animation: new-game-default 0.3s linear infinite alternate both; /* new-game-after */
    transition: color 0.2s, text-shadow 0.2s;
    
    &:hover {
      animation-duration: 0.1s;
    }

    &.new-game-after {
      animation-name: new-game-after;
      animation-duration: 0.1s;
    }
  }

  .hide {
    opacity: 0;
  }
}

@keyframes new-game-default {
  100% {
    color: #ffff00;
    text-shadow: 0 0 6px #ff7200;
  }
}

@keyframes new-game-after {
  100% {
    color: #bf5018;
    text-shadow: 0 0 14px #680400;
  }
}

.forest-night {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url("image/forest_night_mobile.jpg") 50% 50% / cover no-repeat;
  transition: 5s background, 5s opacity;

  @media (544px <= width <= 992px) {
    background-image: url("image/forest_night_tablet.jpg");
  }

  @media (width > 992px) {
    background-image: url("image/forest_night.jpg");
  }
}
