.say-bg {
  margin-top: 25px;
  padding-bottom: 36px;
  min-height: 200px;
  background: url("image/say_bg_mobile.jpg") 50% 50% / cover no-repeat;

  @media (544px <= width <= 992px) {
    min-height: 350px;
    background-image: url("image/say_bg_tablet.jpg");
  }

  @media (width >= 992px) {
    min-height: 499px;
    background-image: url("image/say_bg.jpg");
  }
}

.say {
  .caption {
    padding: 36px 0 25px;
    color: #fffcf4;
    font-size: 30px;
    text-align: center;
  }

  .say-form {
    max-width: 924px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .name,
  .email {
    margin-bottom: 25px;
    padding-left: 20px;
    width: 100%;
    min-height: 50px;
    border: 0.5px solid #fff;
    color: #fffcf4;
    font-style: italic;

    &:focus {
      border-color: #1dde85;
    }

    &::-webkit-input-placeholder {
      color: #fffcf4;
    }

    &::-moz-placeholder {
      color: #fffcf4;
    }

    &:-ms-input-placeholder {
      color: #fffcf4;
    }
  }

  .name {
    @media (width >= 940px) {
      margin-right: 20px;
      max-width: 435px;
    }
  }

  .email {
    @media (width >= 940px) {
      max-width: 435px;
    }
  }

  .message {
    padding: 20px 0 0 20px;
    width: 100%;
    min-height: 215px;
    border: 0.5px solid #fff;
    color: #fffcf4;
    font-style: italic;

    &:focus {
      border-color: #1dde85;
    }

    &::-webkit-input-placeholder {
      color: #fffcf4;
    }

    &::-moz-placeholder {
      color: #fffcf4;
    }

    &:-ms-input-placeholder {
      color: #fffcf4;
    }
  }

  .send {
    margin: 30px auto 0;
    display: block;
    width: 100%;
    max-width: 195px;
    min-height: 50px;
    font-size: 18px;
    color: #fffcf4;
    background-color: #1dde85;
  }
}
