.health-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  z-index: 150;
}

.first-aid {
  display: flex;
  margin-bottom: 10px;

  div {
    margin: 0 2px;
    animation: 0.6s alternate both; /* first-aid-blink */
    will-change: transform;
  }
}

@keyframes first-aid-blink {
  50% {
    transform: scale(1.5);
  }
}

.health {
  display: flex;

  div {
    margin: 0 2px;
    animation: 0.6s alternate both; /* health-blink */
    will-change: opacity, transform;
  }
}

@keyframes health-blink {
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
}
