@import '../health_notice/health_notice.css';

.health-wrap {
  position: relative;
  z-index: 1; /* в магазе */
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.first-aid {
  display: flex;
  margin-bottom: 4px;

  /* при смене иконки перезаписывается класс */
  & div {
    margin: 0 1px;
    animation: 0.6s alternate; /* first-aid-blink */
    will-change: opacity, transform;
  }
}

@keyframes first-aid-blink {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.health {
  display: flex;

  /* при смене иконки перезаписывается класс */
  & div {
    margin: 0 1px;
    animation: 0.6s alternate; /* health-blink */
    will-change: opacity, transform;
  }
}

@keyframes health-blink {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
}
