.enemy {
  backface-visibility: visible;
  animation: 0.8s both; /* flip */
  will-change: transform;

  &-position {
    position: absolute;
    overflow: hidden; /* полоска таймера до нанесения урона */
    opacity: 0;
    animation: 0.4s enemy-show both;
    will-change: opacity;
  }

  &-damage {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background-color: red;
    animation: linear enemy-damage both;
    will-change: transform;
  }

  /* в скорборд */
  &-title {
    display: flex;
    font-size: 2.5em;
    color: white;
  }

  &-count {
    width: 80px;
    height: 40px;
    text-align: center;
  }
}

@keyframes enemy-show {
  100% {
    opacity: 1;
  }
}

@keyframes enemy-flip {
  50% {
    transform: rotateY(810deg); /* ребро */
  }
}

@keyframes enemy-damage {
  100% {
    transform: translateY(100%);
  }
}
