@import './enemy_count.css';

.enemy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.4s enemy-show both;
  opacity: 0;
  will-change: opacity;
}

@keyframes enemy-show {
  100% {
    opacity: 1;
  }
}

.enemy__warning {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
}

.enemy__damage {
  position: absolute;
  z-index: 1;
  animation: 0.15s linear enemy-damage both paused;
  pointer-events: none;
  will-change: opacity, transform;
}

@keyframes enemy-damage {
  0% {
    transform: translate(20%, -20%);
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }

  100% {
    transform: translate(-20%, 20%);
    opacity: 0;
  }
}

.enemy__icon {
  animation: 0.6s both; /* enemy-icon-flip */
  backface-visibility: visible;
  will-change: opacity, transform;
}

@keyframes enemy-icon-flip {
  100% {
    transform: rotateY(810deg);
    opacity: 0;
  }
}

.enemy__health {
  position: absolute;
  border-radius: 50%;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.8em;
  color: white;
  pointer-events: none;
  background-color: #b90000;
  will-change: opacity;
}

.enemy__no-events {
  pointer-events: none;
}
