.pricing {
  margin-top: 110px;

  .caption {
    color: #454546;
    font-size: 30px;
    text-align: center;
  }

  .item-group {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item {
    margin: 0 8px 80px;
    flex-basis: 268px;
    text-align: center;
    outline: 0;

    &:hover .title,
    &:focus .title {
      color: #1dde85;
    }

    &:hover .prop-group,
    &:focus .prop-group {
      border-color: #1dde85;
    }

    &:hover .price-group,
    &:focus .price-group,
    &:hover .order,
    &:focus .order {
      border-color: #1dde85;
      color: white;
      background-color: #1dde85;
    }
  }

  .title {
    color: #8f8e91;
    transition: 0.1s;
  }

  .price-group {
    margin-top: 30px;
    min-height: 90px;
    border: 0.5px solid #454546;
    color: #454546;
    line-height: 2.45;
    transition: 0.1s;
  }

  .dollar {
    font-size: 24px;
    vertical-align: top;
  }

  .price {
    margin: 0 -4px;
    font-size: 36px;
  }

  .prefix {
    font-size: 18px;
  }

  .prop-group {
    padding-bottom: 20px;
    border: 0.5px solid transparent;
    transition: 0.1s;
  }

  .prop {
    color: #8f8e91;
    line-height: 36px;
  }

  .order {
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border: 0.5px solid #454546;
    color: #454546;
    transition: 0.1s;
  }
}
