@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url('pacifico.woff2') format('woff2'), url('pacifico.woff') format('woff'), url('pacifico.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
