* {
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'beermoney', sans-serif;
  background: url("image/forest_day_mobile.jpg") 50% 50% / cover no-repeat;
  cursor: crosshair;
  overflow: hidden; /* мобы могут появляться на краю */

  @media (544px <= width <= 992px) {
    background-image: url("image/forest_day_tablet.jpg");
  }

  @media (width > 992px) {
    background-image: url("image/forest_day.jpg");
  }

  &.dont-shoot {
    cursor: cell;
  }
}

.paddock {
  overflow: hidden; /* мобы могут появляться на краю */
}
