@font-face {
  font-family: 'Beer money';
  src: local('beer money'), local('beermoney'),
  url('font/beermoney.woff2') format('woff2'),
  url('font/beermoney.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
