doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='robots' content='index,follow,noodp')
    meta(name='googlebot' content='index,follow')
    // limit to 150 characters
    meta(name='description' content='A description of the page')

    title Page Title
    link(href='main.css' rel='stylesheet')
    link(href='image/favicon.png' rel='icon' sizes='192x192')

  body



    script(defer src='main.js')
