@import "normalize.css";
@import "my_libs/style/reset.css";

/*
Стиль каскада:
  .block {.element,tag}

Сортировка стилей:
  1. Позиционирование
  2. Блочная модель
  3. Оформление
  4. Прочее

Ширина экрана:
  xs = 544px
  sm = 768px
  md = 992px
  lg = 1200px

Спрайт (png):
  <i class="icon icon-home"></i>

Responsive background image:
  @media ...
    background url('image/bg_img-1_tablet.jpg') 50% 50%/cover no-repeat

Syntax:
  @import "normalize.css"; <-- из npm
  @media (500px <= width <= 1200px)
  nested: sass like
*/

.row {
  margin: 0 auto;
  max-width: 1200px;
}

/* для спрайта png
.icon {
  display: inline-block;
} */
