@import "libs/reset_css";

.row {
  margin: 0 auto;
  max-width: 1400px;
}

/*
Сортировка стилей:
  Позиционирование
  Блочная модель
  Оформление
  Остальное

Рекомендации:
  Каскад: .block { .elem }, modules. Вложенность <= 2х. Поиск справа налево
  will-change: переносит в композитный слой и обрабатывает на GPU
  Layout: раскладка (width, left, ...), дорогая операция
  Paint: отрисовка (color, opacity, ...), дешевая операция
  Composite: компоновка, самая дешевая операция
  Opacity, transform: самые дешевые операции
  Псевдоклассы только для декораций

Syntax postcss plugins:
  @import "normalize.css" из npm
  @import "./style.css" локальная
  @media (500px <= width <= 1200px)
  nested: sass-like

Ширины экранов:
  xs = 544px
  sm = 768px
  md = 992px
  lg = 1200px

Спрайт (png):
  <i class="icon icon-home"></i>
  .icon {
    display: inline-block;
  }

Responsive background image:
  @media ...
    background url('image/bg_img_tablet.jpg') 50% 50%/cover no-repeat

Подключение стороннего шрифта:
  @font-face {
    font-family: 'PT Sans';
    src: url('ptsans-regular.eot');
    src: url('ptsans-regular.eot?#iefix') format('embedded-opentype'),
         url('ptsans-regular.woff2') format('woff2'),
         url('ptsans-regular.woff') format('woff'),
         url('ptsans-regular.ttf') format('truetype'),
         url('ptsans-regular.svg#PT Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "PT Sans";
  }
*/
