.shop {
  position: absolute;
  z-index: -100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 58, 0, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
  will-change: transform;
  pointer-events: none;

  &-open {
    transform: scale(1);
  }

  .store-title {
    position: absolute;
    left: 0;
    margin: 4px;
    font-family: gun_store, sans-serif;
    font-size: 2.5em;
    font-style: italic;
    color: #35b900;
    text-shadow: 2px 2px 2px #000000;
  }

  .guns {
    display: flex;
  }

  .item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 3px dashed #2d9b00;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #000000;
    box-shadow: 0 0 10px #000000, inset 0 0 6px #000000;
    background-color: rgba(5, 123, 0, 0.4);
    cursor: pointer;
    pointer-events: auto;

    .icon {
      pointer-events: none;
    }

    &:hover,
    &:active {
      background-color: rgba(3, 103, 0, 0.8);
    }
  }

  .buy-block {
    cursor: no-drop;
    border: 3px dashed #888;
    background-color: rgba(99, 100, 100, 0.4);

    &:hover,
    &:active {
      background-color: rgba(85, 86, 86, 0.8);
    }
  }

  .close-shop {
    position: absolute;
    right: 0;
    margin: 4px;
    z-index: 450;
    font-size: 4em;
    color: #e3e300;
    text-shadow: 0 0 12px #4f1100;
    text-align: right;
    cursor: pointer;
    animation: 0.1s linear infinite alternate both; /* close-shop */
    transition: color 0.2s, text-shadow 0.2s;
    pointer-events: auto;

    &:hover {
      animation-name: close-shop-before;
    }
  }
}

@keyframes close-shop-before {
  100% {
    color: #ffff00;
    text-shadow: 0 0 6px #ff7200;
  }
}

@keyframes close-shop-after {
  100% {
    color: #bf5018;
    text-shadow: 0 0 14px #680400;
  }
}
