.shop-time-wrap {
  position: absolute;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: 1s both;
}

@keyframes shop-time-wrap {
  100% {
    z-index: 160;
  }
}

.shop-time {
  position: absolute;
  font-size: 6em;
  color: #fff;
  text-shadow: 0 0 10px #000;
  animation: 1.5s;
  will-change: opacity, transform;
}

@keyframes shop-time {
  0%,
  30% {
    opacity: 0;
    transform: scale(3);
  }

  30%,
  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}
